* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

div {
    width: 320px;
    height: 138px;
    border: 1px solid #b4b4b4;
    margin-top: 73px;
    margin-left: 109px;
}
h3 {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 18px;
    margin-left: 5px;
}
p {
    font-size: 14px;
    color: #808080;
    margin: 5px;
}
